:root {
  --primary-color: #debace;
  --secondary-color: #fff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  max-width: 100%;
  padding: 15px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 75px;
  margin-top: 100px;
}

h2 {
  font-size: 35px;
  margin-bottom: -100px;
  margin-top: 100px;
}

h2 .mb-3 {
  margin-top: 50px;
  margin-bottom: -100px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}
img {
  border-radius: 4px;
  background: var(--secondary-color);
  padding: 7px;
  margin: 0 auto;
}
footer {
  font-size: 9px;
  text-align: right;
  background-color: var(--primary-color);
  color: black;
  padding: 10px 15px;
  margin-top: 200px;
  margin-left: 65%;
  border-radius: 4px;
}
.hero {
  margin-bottom: 100px;
}
.container {
  margin-bottom: 100px;
}
.homepage-appinfo {
  display: inline-block;
  padding: 0 50px;
  margin: 0 auto;
}
.about-paragraphs p {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.contact-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.about-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  font-size: 15px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 200px;
}
.email-link:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 5px 10px;
  margin: 0 300px;
  border-radius: 7px;
  text-decoration: underline;
}

.btn-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.btn-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

@media (min-width: 900px) {
  .btn-link {
    margin-bottom: 100px;
  }
}
@media (min-width: 501px) {
  .about-imgs {
    display: inline-block;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  footer {
    margin: 0 auto;
    display: block;
  }
  img {
    margin: 10px 5px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  .container .col-md-6 img {
    display: none;
  }

  .btn-link {
    display: block;
    margin: 0 32px 0;
    text-align: center;
    font-size: 14px;
  }
  .about-dieselimg {
    margin-top: -250px;
  }
}

.container-2 {
  height: 600px;
  margin: 10px auto;
  padding: 30px 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 25px 25px 25px 25px 25px 1fr;
  align-items: center;
  justify-items: center;
  background-color: #000;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 4;
  --middle: 3;
  --position: 1;
}

div.item {
  position: absolute;
  width: 680px;
  height: auto;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.3s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-200px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
